:root {
	--background: #303446;
	--text: #c6d0f5;
	--links: #8caaee;  /* Lavender */
	--header: #8caaee;
	--meta: #727272; /* TODO: change */
	--lang: #727272; /* TODO: change */

	--background: white;
	--text: black;
	--links: #7f54cc;
	--header: #7f54cc;
	--meta: #727272;
	--lang: #727272;

}

/* html { font-size: 2.4vw; } */
/* @media all and (min-width:1000px) { html { font-size: 24px; } } */
/* @media all and (max-width:520px) { html{ font-size: 18px; } } */


html {
    /* font-size: calc(15px + 0.390625vw); */
    /* font-size: calc(15px + 0.5vw); */
  font-size: 2.5vmin;
}

body {
	/*
	width: 64ch;
	width: 42em;
	max-width: 64ch;
	max-width: 95%;
	*/
    width: 80%;
    max-width: 1000px;
	margin-top: 3ex;
	margin-bottom: 9ex;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*
	font-size: 100%;
	font-size: 22px;
    font-size: calc(100% + 2vw);
	*/
	line-height: 1.4;
	font-family: 'Droid Sans', sans-serif;
	background-color: var(--background);
	color: var(--text);
}

a {
	text-decoration: none;
	color: var(--links);
}

h1 {
	text-align: center;
	color: var(--header);
	font-weight: normal;
	margin-bottom: 0ex;
}

.ipa {
	text-align: center;
	margin-top: 0ex;
	margin-bottom: 3ex;
	font-size: 80%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	display: block;
	color: var(--meta);
	font-family: "Gentium Plus";
}

h2 {
	color: var(--header);
	border-bottom: thin solid #b298e0;
	font-weight: normal;
	/* margin-top: 1.5em; */
	margin-top: 2.5em;
}


h3 {
	color: var(--header);
	font-weight: normal;
	/* margin-top: 1.5em; */
	margin-top: 2.5em;
	left: 5em;
    margin-left: -5em;
}

.meta {
	/*
	width: 55ch;
	max-width: 70%;
	*/
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: var(--meta);
}

.lang {
	font-variant: small-caps;
	color: var(--lang);
	margin-left: 1em;
	font-size: 80%;
}

.status {
	color: var(--lang);
	margin-left: 1em;
	font-size: 80%;
}

.pix {
	float: left;
	width: 72px;
	max-width: 20%;
	margin-bottom: 1em;
}

.pix img {
	max-width: 100%;
	max-height: 32px;
}

.desc {
	overflow: auto;
}

.site {
	font-weight: bold;
}

.sitelist {
	list-style-type: none;
	padding: 0;
}

.sitelist li {
	margin-bottom: 2ex;
	clear: both;
}

.inactiveshow, .offlineshow {
	display: block !important;
	/* filter: grayscale(100%) opacity(50%); */
}

.inactive, .offline {
	display: none;
	/* color: red; */
}

.marginpar {
	float: left;
	width: 5em;
	text-align: right;
}

.marginpar img {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*
li {
	filter: grayscale(100%);
}

li:hover {
	filter: none;
}
*/

#tagscontainer {
	display: none;
}

#taglist li {
	display: inline;
	margin-right: 1em;
}

#taglist li:last-child {
	margin-right: 0em;
}

.tagnote {
	color: var(--lang);
	font-size: 80%;
}
