<p class="meta" style="text-align: center; margin-top: 5em">
If you like how this page is built, feel free to copy <a href="https://gitlab.com/rwmpelstilzchen/me.digitalwords.net/">the code that builds it</a> for your own use 🙂
</p>
