<h1>Maja Abramski-Kronenberg</h1>

<p class="ipa">[ˈmäjä äbˈʁ̞ämski kˈʁ̞o̞ne̞nbe̞ʁ̞g]</p>

<p class="meta">
Hi! Here you can find links to my websites and web accounts (<em>way</em> too many), as well as <a href="#" onclick='document.getElementById("tagscontainer").style.display = "inherit"; shuffleNodes();'>a list of things I find interesting</a>.
</p>

<script>
	function shuffleNodes() {
		var ul = document.querySelector('ul');
		for (var i = ul.children.length; i >= 0; i--) {
			ul.appendChild(ul.children[Math.random() * i | 0]);
		}
	}
</script>






<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#inactive_switch').click(function(){
    $('#inactive_switch').toggleClass('active');
    $('.inactive').toggleClass('inactiveshow');
  });
  $('#offline_switch').click(function(){
    $('#offline_switch').toggleClass('active');
    $('.offline').toggleClass('offlineshow');
  });
})
</script>
