<div class="meta">
Inactive and offline entries are hidden by default, but this can be changed:
<table style="font-size: 80%; color: #727272; float: right;">
	<tr>
		<td style="padding-right: 1em">Inactive entries:</td>
		<td>hide</td>
		<td style="padding-left: 0.5em; padding-right: 0.5em">
			<label class="switch">
				<input type="checkbox" id="inactive_switch">
				<span class="slider round"></span>
			</label>
		</td>
		<td>show</td>
	</tr>
	<tr>
		<td style="padding-right: 1em">Offline entries:</td>
		<td>hide</td>
		<td style="padding-left: 0.5em; padding-right: 0.5em">
			<label class="switch">
				<input type="checkbox" id="offline_switch">
				<span class="slider round"></span>
			</label>
		</td>
		<td>show</td>
	</tr>
</table>
</div>

<script>
document.getElementById("inactive_switch").checked = false;
document.getElementById("offline_switch").checked = false;
</script>
